<table class="table task-table align-middle">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    @for (task of tasks(); track task.id) {
      <tr>
        <td>{{ task.title }}</td>

        <td>
          {{ task.description }}
        </td>

        <td>
          <span class="badge" [class]="statusClass(task.status)">
            {{ task.status }}
          </span>
        </td>

        <td>
          <button class="btn btn-sm btn-warning me-2" [routerLink]="['/tasks', task.id, 'edit']">
            <i class="bi bi-pencil-square"></i>
          </button>

          <button class="btn btn-sm btn-danger" (click)="delete.emit(task.id)">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>
