<div class="container mt-4">
  <h2>
    @if (id()) {
      Modifier une tâche
    } @else {
      Nouvelle tâche
    }
  </h2>

  <hr />

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="mb-3">
      <label>Titre</label>
      <input class="form-control" formControlName="title" />
    </div>

    <div class="mb-3">
      <label>Description</label>
      <textarea class="form-control" rows="5" formControlName="description"></textarea>
    </div>

    <div class="mb-3">
      <label>Status</label>
      <select class="form-select" formControlName="status">
        @for (status of statusOptions; track status) {
          <option [value]="status">{{ status }}</option>
        }
      </select>
    </div>

    <button class="btn btn-primary" type="submit">Enregistrer</button>
  </form>
</div>
